// AVAILABLE VARIABLES

        // DIALOG (WINDOW)
    $dialog_padding: 24px;
    @media screen and (max-width: 600px) {
        $dialog_padding: 16px;
    }
    $dialog_background: #FFF;
    $dialog_border_radius: 4px;
    $dialog_shadow: 4px 4px 16px rgba(#000, .2);

        // DIALOG TITLE
    $dialog_title_font_size: 20px;
    $dialog_title_font_weight: 700;

        // DIALOG CLOSE BUTTON
    $dialog_close_button_size: 24px;
    $dialog_close_button_color: #000;
    $dialog_close_button_hover: $PRIMARY;

        // DIALOG CONTENT
    $dialog_content_border: solid 1px #00000010;

        // GLOBAL TRANSITION
    $dialog_transition: all .2s ease;

        // DEFAULT BUTTONS
    $button_padding: 8px 24px;
    $button_font_size: inherit;
    $button_font_family: inherit;
    $button_font_weight: 700;
    $button_letter_spacing: .4px;
    $button_border_radius: 2px;
    $button_gap: 8px;

    $button_primary_color: $PRIMARY;
    $button_primary_hover: $PRIMARY_L10;
    $button_primary_border: none;
    $button_primary_border_hover: transparent;

    $button_text_color: #FFF;
    $button_text_hover: #F8F8F8;
    $button_text_border: none;
    $button_text_border_hover: transparent;

    
.wk-dialog {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: none;

    &-modal {
        width: 100%;
        height: 100%;
        max-height: 100%;
        display: flex;
        align-items: center;
        opacity: 0;
        transition: $dialog_transition;

        &--invisible {
            background-color: transparent !important;
        }

        // STYLES: FULLSCREEN BACKGROUND
        background-color: rgba(#000, .5);
        // ---
    }

    &-window {
        width: 100%;
        max-width: 100%;
        margin: 0 auto;
        position: relative;
        overflow: hidden;
        transform: scale(.95);
        transition: $dialog_transition;

        @media screen and (max-width: 600px) {
            max-width: 100% !important;
        }

        &--no-shake {
            animation: none !important;
        }

        @media screen and (max-width: 600px) {
            width: 100%;
            height: 100%;
            max-height: 100vh;
            border-radius: 0;
            display: flex;
            flex-direction: column;
        }

        // STYLES: DIALOG WINDOW
        background-color: $dialog_background;
        border-radius: $dialog_border_radius;
        box-shadow: $dialog_shadow;
        // ---

        &__title {
            width: 100%;
            display: flex;
            justify-content: space-between;
            align-items: center;

            &-text {
                max-width: 100%;
                overflow: hidden;
                text-overflow: ellipsis;
                white-space: nowrap;
                padding: 24px $dialog_padding;

                // STYLES: TITLE
                font-size: $dialog_title_font_size;
                line-height: 1em;
                font-weight: $dialog_title_font_weight;
                // ---
            }
        }

        &__close {
            padding: 0;
            margin: 0;
            margin-right: $dialog_padding;
            background-color: transparent;
            border: none;
            cursor: pointer;
            
            & svg {
                display: block;
                pointer-events: none;

                // STYLES: CLOSE BUTTON ICON
                width: $dialog_close_button_size;
                height: $dialog_close_button_size;
                // ---
            }

            // STYLES: CLOSE BUTTON
            color: $dialog_close_button_color;
            transition: $dialog_transition;

            &:hover {
                color: $dialog_close_button_hover;
            }
            // ---
        }

        &__content {
            width: 100%;
            max-height: 60vh;
            overflow-y: auto;
            @media screen and (max-width: 600px) {
                max-height: 100%;
                height: 100%;
            }

            // STYLES: CONTENT
            padding: $dialog_padding;
            border-top: $dialog_content_border;
            border-bottom: $dialog_content_border;
            // ---
        }

        &__footer {
            width: 100%;

            // STYLES: CONTENT
            padding: $dialog_padding;
            // ---
        }
    }

    &-button {
        display: inline-block;
        font-size: inherit;
        line-height: 1em;
        text-align: center;
        font-family: inherit;
        font-weight: $FONT_WEIGHT_BOLD;
        letter-spacing: $button_letter_spacing;
        cursor: pointer;
        padding: $button_padding;
        border-radius: $button_border_radius;
        transition: $dialog_transition;

        background-color: $button_primary_color;
        border: $button_primary_border;
        &:hover {
            background-color: $button_primary_hover;
            border: $button_primary_border_hover;
        }

        &--text {
            background-color: $button_text_color;
            border: $button_text_border;
            &:hover {
                background-color: $button_text_hover;
                border: $button_text_border_hover;
            }
        }
    }

    &-actions {
        &-right {
            display: flex;
            gap: $button_gap;
            flex-direction: row-reverse;
            align-items: center;
        }
        &-left {
            display: flex;
            gap: $button_gap;
            flex-direction: row;
            align-items: center;
        }
        &-expand {
            @media screen and (max-width: 390px) {
                flex-direction: column;
                align-items: stretch;
            }
        }
    }
        

}

@keyframes shakeWindow {
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(.99);
    }
    100% {
        transform: scale(1);
    }
}