.wk-dialog {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: none;

    --dialog-padding: 24px;
    @media screen and (max-width: 600px) {
        --dialog-padding: 16px;
    }

    &-modal {
        width: 100%;
        height: 100%;
        max-height: 100%;
        display: flex;
        align-items: center;
        opacity: 0;
        transition: all .2s ease;

        &--invisible {
            background-color: transparent !important;
        }

        // STYLES: FULLSCREEN BACKGROUND
        background-color: rgba(#000, .5);
        // ---
    }

    &-window {
        width: 100%;
        max-width: 100%;
        margin: 0 auto;
        position: relative;
        overflow: hidden;
        transform: scale(.95);
        transition: all .2s ease;

        @media screen and (max-width: 600px) {
            max-width: 100% !important;
        }

        &--no-shake {
            animation: none !important;
        }

        @media screen and (max-width: 600px) {
            width: 100%;
            height: 100%;
            max-height: 100vh;
            border-radius: 0;
            display: flex;
            flex-direction: column;
        }

        // STYLES: DIALOG WINDOW
        background-color: #FFF;
        border-radius: 4px;
        box-shadow: 4px 4px 16px rgba(#000, .2);
        // ---

        &__title {
            width: 100%;
            display: flex;
            justify-content: space-between;
            align-items: center;

            &-text {
                max-width: 100%;
                overflow: hidden;
                text-overflow: ellipsis;
                white-space: nowrap;
                padding: 24px var(--dialog-padding);

                // STYLES: TITLE
                font-size: 20px;
                line-height: 1em;
                font-weight: $FONT_WEIGHT_BOLD;
                // ---
            }
        }

        &__close {
            padding: 0;
            margin: 0;
            margin-right: var(--dialog-padding);
            background-color: transparent;
            border: none;
            cursor: pointer;
            
            & svg {
                display: block;
                pointer-events: none;

                // STYLES: CLOSE BUTTON ICON
                width: 24px;
                height: 24px;
                // ---
            }

            // STYLES: CLOSE BUTTON
            color: #000;
            transition: all .2s ease;

            &:hover {
                color: $PRIMARY;
            }
            // ---
        }

        &__content {
            width: 100%;
            max-height: 60vh;
            overflow-y: auto;
            @media screen and (max-width: 600px) {
                max-height: 100%;
                height: 100%;
            }

            // STYLES: CONTENT
            padding: var(--dialog-padding);
            border-top: solid 1px #00000010;
            border-bottom: solid 1px #00000010;
            // ---
        }

        &__footer {
            width: 100%;

            // STYLES: CONTENT
            padding: var(--dialog-padding);
            // ---
        }
    }

    &-button {
        display: inline-block;
        border: none;
        font-size: inherit;
        line-height: 1em;
        text-align: center;
        font-family: inherit;
        font-weight: $FONT_WEIGHT_BOLD;
        letter-spacing: .4px;
        cursor: pointer;
        padding: 8px 24px;
        border-radius: 2px;
        transition: all .2s ease;
        &:not(:last-of-type) {
            margin-left: 8px;
        }

        background-color: $PRIMARY;
        &:hover {
            background-color: $PRIMARY_L;
        }

        &--text {
            background-color: transparent;
            &:hover {
                background-color: #F8F8F8;
            }
        }
    }

    &-actions {
        display: flex;
        flex-direction: row-reverse;
        align-items: center;
    }

}

@keyframes shakeWindow {
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(.99);
    }
    100% {
        transform: scale(1);
    }
}